@value primary: #003366;
@value secondary: #6495ed;
@value lightGray: #eee;

@value borderRadius: 10px;

/* input start */
.input {
  border: none;
  padding: 0.5rem;
  outline: none;
  color: primary;
  font-size: 14px;
  font-weight: bold;
}
.input:focus {
  outline: none;
}
/* input end */

.container {
}

/* navbar */
.menuBar {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  justify-content: space-between;
  box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
}
.menuBar .menuCon {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  background-color: #fff;
}
.logo {
  max-height: 100% !important;
  display: flex;
  align-items: center;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: primary;
  font-size: 24px;
  cursor: pointer;
}
.rightMenu {
  display: flex;
  align-items: center;
  list-style: none;
}
.rightMenu li {
  padding: 0 20px;
}
.rightMenu li a {
  color: primary;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.barsMenu {
  display: none;
}

/* navbar end */

/* signin start */
.signinContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 70%;
  min-height: 70vh;
  height: max-content;
  margin: auto;
  border-radius: borderRadius;
  overflow: hidden;
  padding: 50px 0;
}
.signinContainer > .col1 {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 90px;
}
.signinTitle {
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 2px;
  color: primary;
  margin-bottom: 10px;
}
.signinParagraph {
  font-size: 14px;
  color: var(--gray);
  margin-bottom: 25px;
  text-transform: capitalize;
}
.signinInput {
  margin-top: 5px;
  padding: 0.66667rem 1rem;
  border-radius: borderRadius;
}

.inputContainer label {
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 14px;
  color: primary;
}
.signinContainer > .col2 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url("/Untitled-1-01-01.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.signinBtn {
  width: 100%;
}

.errorMessage {
  color: var(--red);
  transform: capitalize;
}

.signupIconBtn {
  border: 1px solid var(--lightGray);
  background-color: transparent;
  border-radius: var(--borderRadius);
  font-size: 36px;
  color: var(--primary);
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.signupIconBtn:not(:last-child) {
  margin-right: 20px;
}
/* signin end */

/* products */
.productsGrid {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 70px;
}
.productCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}
.productCard > span:nth-child(1) {
  width: 100% !important;
}

.productCardBody {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  margin-top: 15px;
  min-height: 50px;
}
.productName {
  font-weight: 600;
  color: gray;
  margin-bottom: 0.5rem;
}

.productImage {
  width: 100% !important;
  object-fit: cover;
  border-radius: borderRadius;
}
.productCardBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.productCardBottom .productPrice {
  font-weight: 600;
  color: initial;
}
.productCardBottom .productRating {
  display: flex;
  align-items: center;
  color: initial;
}
.productCardBottom .productRating > svg:nth-child(1) {
  color: #fdcc0d;
}
/* products end */

/* single product page */
.singleProductContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 60px auto;
}
.singleProductContainer div {
  width: 45%;
}
.singleProductImage {
  width: 100% !important;
  object-fit: cover;
  border-radius: borderRadius;
  height: initial !important;
}
.productContent .productGenre {
  color: yellow;
}
.productContent h1 {
  font-size: 72px;
  font-weight: bold;
}
.productContent p {
  font-size: 18px;
  color: gray;
  margin-bottom: 1rem;
}
.productContent .productPrice {
  font-size: 36px;
  font-weight: bold;
}
.productContent .productFooter {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 30px;
}
.productContent .productCounterContainer {
  display: flex;
  align-items: center;
  background-color: lightGray;
  width: max-content;
  margin-right: 50px;
  border-radius: borderRadius;
  padding: 0px 5px;
}
.productContent .productCounterContainer > .counter {
  margin: 10px 30px;
  min-width: 30px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.productContent .productCounterContainer > .iconBtn {
  color: primary;
  font-size: 20px;
}
/* single product page end */

/* testimonials start */
.testimonialsGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  padding: 40px;
}
.testimonialsCard {
  text-align: center;
  font-size: 16px;
  color: primary;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.testimonialsLogo {
  max-height: 100px;
}
/* testimonials end */

/* footer start */
.footer {
  background-color: primary;
}
.footerGrid {
  color: white;
  padding: 50px 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr) 2fr;
}
.footerCol {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.footerCol h3 {
  color: white;
}
.footerCol ul {
  list-style-type: none;
  padding: 0;
}
.footerCol ul li {
  padding: 5px 0;
}
.footerCol ul li a {
  color: white;
  font-size: 14px;
}
.footerNewsletter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footerNewsletter input {
  width: 55%;
  height: 100%;
}
.footerBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 20px;
}
.footerBottom div {
  color: white;
}
.footerBottom div a {
  color: white;
}
.footerSocialmedia {
  display: flex;
  align-items: center;
}
.footerSocialmedia a {
  color: white;
}
.footerSocialmedia a svg {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}
/* footer end */

@media screen and (max-width: 1024px) {
  .signinContainer {
    grid-template-columns: 1fr;
    height: max-content;
    width: 90%;
    padding: 10px 0;
  }
  .signinContainer > .col2 {
    grid-row: 1;
    height: 150px;
    border-radius: var(--borderRadius) var(--borderRadius) 0 0;
    margin-bottom: 10px;
  }
  .signinContainer > .col1 {
    grid-row: 2;
    padding-right: 0;
  }
  .barsMenu {
    display: block;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .productsGrid {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .productsGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .productsGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1025px) and (max-width: 1200px) {
  .productsGrid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1201px) {
  .productsGrid {
    grid-template-columns: repeat(5, 1fr);
  }
}
