@value primary: rgb(21, 58, 91);

/* button style start */
.btn {
  padding: 0.66667rem 4rem;
  border: 2px solid transparent;
  transition: 0.3s ease;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.75px;
}
.btnSmall {
  padding: 0.3rem 4rem;
}
.btnPrimary {
  background-color: primary;
  color: white;
}
.btnPrimary:hover {
  background-color: white;
  color: primary;
}
.btnWhite {
  background-color: white;
  color: primary;
}
.btnWhite:hover {
  background-color: primary;
  border: 2px solid white;
  color: white;
}
/* button style end */

/* input start */
.input {
  border: none;
  padding: 0.5rem;
  outline: none;
  color: primary;
  font-size: 14px;
  font-weight: bold;
}
.input:focus {
  outline: none;
}
/* input end */

.container {
}

/* navbar */
.menuBar {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  justify-content: space-between;
  box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
}
.menuBar .menuCon {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  background-color: #fff;
}
.logo {
  max-height: 100% !important;
  display: flex;
  align-items: center;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: primary;
  font-size: 24px;
}
.rightMenu {
  display: flex;
  align-items: center;
  list-style: none;
}
.rightMenu li {
  padding: 0 20px;
}
.rightMenu li a {
  color: primary;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.barsMenu {
  display: none;
}

/* navbar end */

/* products */
.productsGrid {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 70px;
}
.productCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}
.productCard > span:nth-child(1) {
  width: 100% !important;
}

.productCardBody {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  min-height: 60px;
}
.productName {
  font-weight: 600;
  color: gray;
  margin-bottom: 0.5rem;
}

.productImage {
  width: 100% !important;
  object-fit: cover;
  margin-bottom: 1.5rem !important;
}
.productCardBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.productPrice {
  font-weight: 600;
}
.productRating {
  display: flex;
  align-items: center;
}
.productRating > svg:nth-child(1) {
  color: #fdcc0d;
}
/* products end */

/* testimonials start */
.testimonialsGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  padding: 40px;
}
.testimonialsCard {
  text-align: center;
  font-size: 16px;
  color: primary;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.testimonialsLogo {
  max-height: 100px;
}
/* testimonials end */

/* footer start */
.footer {
  background-color: primary;
}
.footerGrid {
  color: white;
  padding: 50px 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr) 2fr;
}
.footerCol {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.footerCol h3 {
  color: white;
}
.footerCol ul {
  list-style-type: none;
  padding: 0;
}
.footerCol ul li {
  padding: 5px 0;
}
.footerCol ul li a {
  color: white;
  font-size: 14px;
}
.footerNewsletter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footerNewsletter input {
  width: 55%;
  height: 100%;
}
.footerBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 20px;
}
.footerBottom div {
  color: white;
}
.footerBottom div a {
  color: white;
}
.footerSocialmedia {
  display: flex;
  align-items: center;
}
.footerSocialmedia a {
  color: white;
}
.footerSocialmedia a svg {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}
/* footer end */

@media screen and (max-width: 1024px) {
  .barsMenu {
    display: block;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .productsGrid {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .productsGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .productsGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1025px) and (max-width: 1200px) {
  .productsGrid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1201px) {
  .productsGrid {
    grid-template-columns: repeat(5, 1fr);
  }
}
